@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
* {
  font-family: "Jaldi";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* Background- */
body {
  background-image: url(../assets/background/background_stars.svg);
  background-color: #08182A;
  background-size: 192rem;
}
body .detailBackground {
  background-image: url(../assets/background/DetailBackground.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: left;
  background-size: 89.2rem;
  height: 100vh;
}


/* Circulo do Sistema solar por nequanto */
.testeCirculo {
  border: 5px solid #f1f1f1; 
  width: 976px; 
  height: 972.86px; 
  border-radius: 1000px;
}


/* Main Container */
.mainContainer {
  padding-top: 54px;
  display: grid;
  grid-template-columns: 10rem 44.5fr 2fr 53.5fr 5rem;
}
.mainContainer  .logoContainer {
  grid-column: 2/3;
  grid-row: 1;
}
.mainContainer .introductionContainer {
  grid-column: 2/3;
  grid-row: 1/3;
}
.mainContainer .solarContainer {
  grid-column: 4/5;
  grid-row: 1/3;
}


/* logo */
.logoImg {
  width: 48.8rem;
}

/* Introdução e Bem vindo */
.introductionContainer {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textContent h1 {
  font-size: 12.8rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 100%;
}
.textContent p:nth-child(2) {
  font-size: 3.6rem;
  font-weight: 400;
  color: #929AA1;
  text-align: end;
}
.textContent p:nth-child(3) {
  width: 70.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;
  color: #B8BCC1;
}

.clickTextContent {
  width: 33.8rem;
  padding-top: 3.9rem;
  border-bottom: 0.5rem solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}
.clickTextContent p {
  color: #f2f2f2;
  width: 30rem;
  font-size: 2.7rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;
}


/* Responsividade notebook lele */
@media screen and ( max-width: 1536px) {
  /* Background- */
  body {
    background-size: 138.2rem;
  }
  body .detailBackground {
    background-size: 64.2rem;
  }

  /* Circulo do Sistema solar por nequanto */
  .testeCirculo {
    border: 3.5px solid #f1f1f1; 
    width: 702px;
    height: 700px;
  }


  /* Main Container */
  .mainContainer {
    padding-top: 36px;
  }

  /* logo */
  .logoImg {
    width: 35.1rem;
  }

  /* Introdução e Bem vindo */
  .textContent h1 {
    font-size: 9.2rem;
  }
  .textContent p:nth-child(2) {
    font-size: 2.5rem;
  }
  .textContent p:nth-child(3) {
    font-size: 2.3rem;
    width: 51rem;
  }
  
  .clickTextContent {
    width: 24.3rem;
    border-bottom: 0.36rem solid #f2f2f2;
  }
  .clickTextContent p {
    width: 21.6rem;
    font-size: 1.9rem;
  }

}